In [18]:
import os
import glob
import pandas as pd
import numpy as np
import pyarrow.parquet as pq

In [15]:
#data_file = '../data/parquet/2019-01-01_performance_fixed_tiles.parquet'
data_dir = '/Users/praveenrao/Google Drive/DataKind/Broadband/data/parquet'

In [20]:
df = pd.concat([pq.read_table(source=f).to_pandas() for f in glob.glob(data_dir + '/*_fixed_*.parquet')], ignore_index=True)

In [ ]:
df = pq.read_table(source=data_file).to_pandas()

In [ ]:
# Load raw data

#df = pd.read_csv(data_file)

In [17]:
df.head()

,quadkey,tile,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices
0,0231113112003202,"POLYGON((-90.6591796875 38.4922941923613, -90....",66216,12490,13,28,4
1,1322111021111001,"POLYGON((110.352172851562 21.2893743558604, 11...",102598,37356,13,15,4
2,3112203030003110,"POLYGON((138.592529296875 -34.9219710361638, 1...",24686,18736,18,162,106
3,0320000130321312,"POLYGON((-87.637939453125 40.225024210605, -87...",17674,13989,78,364,4
4,0320001332313103,"POLYGON((-84.7430419921875 38.9209554204673, -...",441192,218955,22,14,1

In [8]:
df.year.unique()

array([2021])